.hero-about-div{
    margin: 0 1rem;
    box-shadow: 0 0 4px #093266;
}

.hero-about-header {
    height: 250px;
    width: 100%;
    padding-top: 100px;
    color: white;
    background: linear-gradient(270deg,rgba(6,52,107,0)0,#093266 81%), url("../assets/images/aboutpageimg.jpeg");
    background-position: 100% 50%;
    position: relative;
    }


.about-header-text{
    font-weight: 600;
    padding: 0 0 0 6rem;
}
.about-text{
    padding: 2% 12%;
}
.about-text h1{
    color:#093266;
}

.about-text h3{
    color:#99d6ff;
}

.about-text p{
    color:#093266;
}

.container-wrapper{
    position: relative;
    margin: 100px 1rem 0;
}

.blue{
    background-color: #657bbc;
    color: white;
}

 .about-box{
    background-color: #f2eee9;
    height: 175px;
    border-radius: 20px;
    text-align: center;
    padding: 1rem;
    color:#093266;
    position: relative;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    width: 700px;
    margin: 0;
}

.about-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.animate{
    transform: translateY(-50%);
    opacity: 1;
}

.no-margin{
    margin-top: 0;
}

.about-quote{
    font-weight: 500;
}