.hero-about-div{
    margin: 0 1rem;
    box-shadow: 0 0 4px #093266;
}

.hero-about-header {
    height: 250px;
    width: 100%;
    padding-top: 100px;
    color: white;
    background: linear-gradient(270deg,rgba(6,52,107,0)0,#093266 81%), url("../assets/images/aboutpageimg.jpeg");
    background-position: 100% 50%;
    position: relative;
    }


.about-header-text{
    font-weight: 600;
    padding: 0 0 0 6rem;
}
.about-text{
    padding: 2rem 12rem ;
}
.about-text h1{
    color:#093266;
}

.about-text h3{
    color:#99d6ff;
}

.about-text p{
    color:#093266;
}

.about-banner{
    background-color: #657bbc;
    width: 100%;
    height: 400px;
    padding: 2rem 12rem;
    position: relative;
    margin: 0 1rem;
}

 .about-box{
    background-color: #fff;
    height: 175px;
    border-radius: 20px;
    text-align: center;
    padding: 1rem;
    color:#093266;
}

.about-box:first-child {
    margin-right:20px;
}

.about-banner .row{
    width: 1400px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -40%);
}

.color-banner{
    background-color: #f2eee9;
    height: 200px;
    margin: 1rem 1rem 0 1rem;
}
