.hero-div{
    margin: 0 1rem;
    box-shadow:0 0 5px #093266;
}
.hero-header {
height: 500px;
width: 100%;
padding-top: 100px;
color: white;
background: linear-gradient(270deg,rgba(6,52,107,0)0,#093266 81%), url("../assets/images/homepageimg.jpeg");
background-position: 80%;
position: relative;
}

.hero-header .welcome-text{
    font-weight: 600;
    padding: 0 0 0 6rem;
}

.hero-header .tagline{
    color:#99d6ff;
    font-weight: 400;
    padding: 0 0 0 6rem;
    width: 420px;
    word-wrap: break-word;
    font-size: medium;
}
.home-btn-div{
    display: flex;
    height: 390px;
    justify-content: center;
    align-items: center;
}
.hero-header .home-pantry-btn{
    font-weight: 500;
    color: #ffffff;
    background: #72bf44;
    border: solid 1px #72bf44;
    border-radius: 25px;
    box-shadow: 1px 1px 15px #093266;
}

.hero-header .home-pantry-btn:hover{
    color: #093266 ;
    background: #ffffff;
    border: #093266; 
}

.featured-text{
    padding: 2rem 0;
    color:#093266;
    text-align: center;
}

.home-pantries{
    background: #f3f2ee;
    margin: 1rem 1rem 0 1rem;
}