.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-gap: 3em;
  max-height: 40%;
  padding: 1rem 0 3rem 0;
  justify-items: center;
  justify-content: space-evenly;
}

.card {
  border: none;
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, .15);
}

.card img {
  height: 200px;
}

.card .card-body {
  color: #093266;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-title {
  font-weight: 700;
}

.card .card-link {
  color: #72bf44;
  text-decoration: none;
  font-weight: 700;
}
