.hero-resources-div{
    margin: 0 1rem;
    box-shadow: 0 0 4px #093266;
}

.hero-resources-header {
    height: 250px;
    width: 100%;
    padding-top: 100px;
    color: white;
    background: linear-gradient(270deg,rgba(6,52,107,0)0,#093266 81%), url("../assets/images/resourcepageimg.jpeg");
    background-position: 100% 50%;
    position: relative;
    }

.resources-header-text{
    font-weight: 600;
    padding: 0 0 0 6rem;
}

.resource-card{
    margin: 1rem;
}

.resource-banner{
    margin: 1rem;
    padding: 5rem;
    background-color: #f3f2ee;
    box-shadow: 0 0 5px #eeece7;
}

.fa-utensils, .fa-bread-slice, .fa-seedling{
    font-size: 50px;
    color: #fff;
    border-radius: 50%;
    margin: 0 0.5rem;
    padding: 1.5rem;
}

.fa-utensils{
    background: #f0b41a;
}

.fa-bread-slice{
    background: #f05839;
}

.fa-seedling{
    background: #647BBC;
}

.resource-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resource-items h4{
    color:#093266;
    padding-top: 0.5rem;
}

.card-header{
   color:#093266;
}

.banner-header{
    text-align: center;
    color: #093266;
    padding-bottom: 2rem;
}

.additional-resources{
    margin: 1rem;
}

.add-resource-item img, .add-resource-item .card{
    height: 500px;
    width: 800px;
}

.add-resource-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-group-item a{
    text-decoration: none;
    color:#093266;
}

.add-resource-item .card-header{
    color: #fff;
    background-color: #093266;
}