.navbar-container{
    margin: 0 1rem;
    background: #ffff;
    padding: 1rem;
    position: sticky;
    top: 0;
    max-width: 100%;
}

.brand-name h3{
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.5rem 0;
    color: #093266;
}

.brand-name span{
   color: rgb(238, 56, 56);
}
.navbar-container .nav-link{
 color: #093266;
}

.navbar-container .navbar-nav .nav-link.active {
    color:rgb(238, 56, 56); 
}

.navbar-container .nav-link:hover{
    opacity:.8 ;
   }

.search-button{
    color: rgb(238, 56, 56) !important;
    border: solid 1px rgb(238, 56, 56) !important;
    background: #ffffff !important; 
}

.search-button:hover{
    background: rgb(238, 56, 56);
    border: solid 1px rgb(238, 56, 56);    
}