.search-list{
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 50px;
    background: #fff;
}

.search-list ul{
    list-style-type: none;
    padding: 0 0.8rem;
}

.search-list ul li a{
    text-decoration: none;
}

.search-pantry-div{
    position: relative;
}